@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat&display=swap');

/* Color Theme Swatches in Hex */
$Chers-DayCare-1-hex: #4A4972;
$Chers-DayCare-2-hex: #D5E4F2;
$Chers-DayCare-3-hex: #F23C3C;
$Chers-DayCare-4-hex: #F2B441;
$Chers-DayCare-5-hex: #F2D95E;

/* Color Theme Swatches in RGBA */
$Chers-DayCare-1-rgba: rgba(74,73,114, 1);
$Chers-DayCare-2-rgba: rgba(213,228,242, 1);
$Chers-DayCare-3-rgba: rgba(242,60,60, 1);
$Chers-DayCare-4-rgba: rgba(242,180,65, 1);
$Chers-DayCare-5-rgba: rgba(242,217,94, 1);

/* Color Theme Swatches in HSLA */
$Chers-DayCare-1-hsla: hsla(241, 21, 36, 1);
$Chers-DayCare-2-hsla: hsla(208, 52, 89, 1);
$Chers-DayCare-3-hsla: hsla(0, 87, 59, 1);
$Chers-DayCare-4-hsla: hsla(38, 87, 60, 1);
$Chers-DayCare-5-hsla: hsla(49, 85, 65, 1);


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

          
.daycare-inverted-primary {
    background-color: $Chers-DayCare-1-hex;
    color: $Chers-DayCare-2-hex;
}


.daycare-inverted-secondary {
    background-color: $Chers-DayCare-2-hex;
    color: $Chers-DayCare-1-hex;
}

.daycare-inverted-accent {
    background-color: $Chers-DayCare-3-hex;
    color: $Chers-DayCare-2-hex;
    border-style: none;
    &:hover {
        background-color: black;
        opacity: 0.5;
    }
}

.daycare-inverted-yellowlight{ 
    background-color: $Chers-DayCare-4-hex;
    color: $Chers-DayCare-2-hex;
}

.daycare-inverted-yellowstandard {
    background-color: $Chers-DayCare-5-hex;
    color: $Chers-DayCare-2-hex;
}