.styles-navigation-bar {
    .navbar {
        background-color: #4A4972;
        svg {
            height: auto;
            width:100vw;
            position: absolute;
            top:54px;
            left:0px;
            .shadow {
                -webkit-filter: drop-shadow( 0 10px 10px -5px rgba(0, 0, 0, .7));
                filter: drop-shadow( 0 10px 10px -5px rgba(0, 0, 0, .7));
            }
        }
    }
    @media (max-width: 768px) { 
        .show {
            padding-top: 10px;
        }
    }
    .fix-nav {
        padding-right: 3px;
        background-color: #4A4972;
    }
    .navbar-brand, .nav-item .nav-link{        
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #F2B441;
        &:hover {
            color: #D5E4F2;
            font-weight: bold;
        }
    }
}