.styles-new-post {
    color: #4A4972;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #F2D95E;
    position:absolute;
    left:0px;
    top:0px;
    width:99vw;
    min-height:300px;
    padding-top:100px;
    padding-bottom:8px;
    margin-bottom: 20px;
    textarea {
        align-items: center;
        border-radius: 8px;
        border:none;
        color: #4A4972;
        width: 100%;
        height:41px;
        min-height:41px;
        @media only screen and (min-width : 992px) {
            min-width: 800px;
        }
        @media only screen and (max-width : 991.98px) {
            min-width: 100%;
        }
        &:focus {
            min-height:58px;
        }
    }
    button {
        background-color: #F23C3C;
        border: none;
    }
    .custom-file {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        input {
            display: block;
        }
    }
}