.nav-options{
    margin-top: 2rem;
    border: 5px solid #F2B441;
    padding: 4px;
    background: #F2D95E;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    h4 {
        margin-top: 4px;
    }
}