.styles-post {
    color: #4A4972;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    .card {
        border: 5px solid #4A4972;
        background-color: #D5E4F2;
        border-radius: 25px;
        max-width: 800px;
    }
    .card-header {
        border-bottom: 1px solid #4A4972;
        background-color: rgba(213,228,242, 0.8);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .card-footer {
        border-top: 1px solid #4A4972;
        background-color: rgba(213,228,242, 0.8);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 0px;
        position: relative;
        display: inline-block;
        color: #4A4972;
        svg {
            fill: currentColor;
        }
    }
    .input-group {
        margin: 0px;
        margin-bottom: 0px !important;
        input {
            font-family: 'Gochi Hand', cursive;
            font-size: 18px;
            background-color: rgba(213,228,242, 0.8);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            &:focus {
                background-color: #F2D95E;
            }
        }
        .input-group-append, button {
            border: none;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 0px;

        }
    }
    .media-body {
        text-align: left;
    }
    .dropdown-toggle {
        background-color: #F2D95E;
        border: none;
        &:active {
            background-color: #F2B441;
            border: none;
        }
    }
    .dropdown-menu {
        background-color: #F2D95E;
        .dropdown-item {
            color: #4A4972;
            &:hover {
                background-color: #F2B441;
            }
        }
    }
    .show .dropdown-toggle {
        background-color: #F2D95E;
        border: none;
    }
    .daycare-like-segment {
        color: #F23C3C;
        svg {
            fill: currentColor;
            margin-left: 20px;
            margin-right: 20px;
            @media only screen and (max-width : 576px) {
                margin-left: 0px;
                margin-right: 10px;
            }
        }
    }
    img {
        margin-bottom: 5vh;
    }
}